# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.spec

# Ambientes virtuais
venv/
.venv/
env/
ENV/

# Arquivos gerados pelo compilador
*.asm
saida.asm

# IDEs
.vscode/
.idea/
*.swp
*~

# Sistema
.DS_Store
Thumbs.db
*.log
*.tmp
